:host {
  background: var(--app-toolbar-background);
  box-sizing: border-box;
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--app-toolbar-z-index);
  @apply backdrop-blur border-b;
}

.toolbar {
  height: var(--app-toolbar-height);
}

a {
  text-decoration: none;
}
