.secondary-toolbar {
  background: var(--app-secondary-toolbar-background);
  height: var(--app-secondary-toolbar-height);
  margin-top: calc(var(--app-secondary-toolbar-height) * -1);

  &.fixed {
    width: var(--app-toolbar-width);
  }
}

.secondary-toolbar-placeholder {
  height: var(--app-secondary-toolbar-height);
}

::ng-deep {
  app-breadcrumbs {
    @apply hidden;
  }

  @screen sm {
    app-breadcrumbs {
      @apply block;
    }
  }
}
