@media print {
  html,
  body {
    height: auto !important;
    overflow: initial !important;
  }

  .app-toolbar,
  .app-sidenav {
    display: none !important;
  }

  .app-layout-content {
    margin-top: 0 !important;
  }

  .mat-drawer-container {
    overflow: visible !important;
  }

  .app-layout-sidenav-content {
    margin-left: 0 !important;
    @apply bg-foreground;
  }

  .app-footer {
    display: none !important;
  }

  .config-panel-toggle {
    display: none !important;
  }
}
