:host {
  display: block;
  width: 100%;
}

.text-warn-700 {
  color: var(--warn-700);
}

.text-warn-600 {
  color: var(--warn-600);
}

.bg-warn-50 {
  background-color: var(--warn-50);
}

.border-warn-500 {
  border-color: var(--warn-500);
}
