<div
  (mouseenter)="collapseOpenSidenav()"
  (mouseleave)="collapseCloseSidenav()"
  [class.collapsed]="collapsed"
  [class.open]="collapsed && (collapsedOpen$ | async)"
  class="app-sidenav flex flex-col">
  <div class="app-sidenav-toolbar__container">
    <div class="sidenav-toolbar flex-none flex items-center">
      <img
        [src]="imageUrl$ | async"
        alt="Logo"
        class="w-6 select-none flex-none" />
      <h2 class="app-sidenav-toolbar__headline flex-auto">
        {{ title$ | async }}
      </h2>
      <button
        (click)="toggleCollapse()"
        *ngIf="showCollapsePin$ | async"
        class="app-sidenav-toolbar__collapse-toggle -mr-4 leading-none flex-none hidden lg:block"
        mat-icon-button
        type="button">
        <mat-icon
          *ngIf="!collapsed"
          class="icon-xs"
          svgIcon="mat:radio_button_checked"></mat-icon>
        <mat-icon
          *ngIf="collapsed"
          class="icon-xs"
          svgIcon="mat:radio_button_unchecked"></mat-icon>
      </button>
    </div>

    <div *ngIf="searchVisible$ | async" class="app-sidenav-search__container">
      <div
        (click)="openSearch()"
        class="app-sidenav-search relative"
        matRipple
        matRippleColor="var(--app-sidenav-item-ripple-color)">
        <mat-icon
          class="flex-none app-sidenav-search__icon"
          svgIcon="mat:search"></mat-icon>
        <div class="flex-auto app-sidenav-search__placeholder">
          Quick Search
        </div>
        <div class="flex-none app-sidenav-search__keybind">Ctrl K</div>
      </div>
    </div>

    <div class="app-sidenav-toolbar__divider"></div>
  </div>

  <app-scrollbar class="flex-1 flex flex-col">
    <div class="pt-6 flex-1">
      <ng-container *ngIf="navigationService.items$ | async as items">
        <app-sidenav-item
          *ngFor="let item of items; trackBy: trackByRoute"
          [item]="item"
          [level]="0"></app-sidenav-item>
      </ng-container>
    </div>

    <div
      class="app-sidenav-footer flex items-center justify-center opacity-20 px-6 py-6 select-none flex-none">
      <img [src]="imageUrl$ | async" alt="Logo" class="w-8 select-none" />
    </div>
  </app-scrollbar>

  <div
    *ngIf="userVisible$ | async"
    class="app-sidenav-user__container flex-none">
    <div
      #userProfileMenuOriginRef
      (click)="openProfileMenu(userProfileMenuOriginRef)"
      [class.app-sidenav-user--open]="userMenuOpen$ | async"
      class="app-sidenav-user flex items-center"
      matRipple
      matRippleColor="var(--app-sidenav-item-ripple-color)">
      <img
        alt="User Avatar"
        class="app-sidenav-user__image flex-none"
        src="../../../../assets/img/avatars/1.jpg" />
      <div class="app-sidenav-user__content flex-auto">
        <div class="app-sidenav-user__title">David Smith</div>
        <div class="app-sidenav-user__subtitle">Product Manager</div>
      </div>
      <mat-icon
        class="app-sidenav-user__dropdown-icon flex-none"
        svgIcon="mat:arrow_drop_down"></mat-icon>
    </div>
  </div>
</div>
