<div class="media-toggle-container" *ngIf="shouldShowToggle">
  <div class="media-toggle-buttons">
    <button mat-flat-button
            [color]="isShowingVideo ? 'basic' : 'primary'"
            [class.active]="!isShowingVideo"
            (click)="showImages()"
            [disabled]="!hasImages">
      <mat-icon svgIcon="mat:photo_library" class="icon-sm"></mat-icon>
      <span>{{ 'MEDIA.SHOW_PHOTOS' | translate }}</span>
    </button>
    <button mat-flat-button
            [color]="!isShowingVideo ? 'basic' : 'primary'"
            [class.active]="isShowingVideo"
            (click)="showVideo()"
            [disabled]="!hasVideo">
      <mat-icon svgIcon="mat:videocam" class="icon-sm"></mat-icon>
      <span>{{ 'MEDIA.SHOW_VIDEO' | translate }}</span>
    </button>
  </div>
</div> 