<app-base-layout *ngIf="config$ | async as config">
  <app-progress-bar></app-progress-bar>

  <app-search></app-search>

  <mat-sidenav-container class="app-layout-sidenav-container">
    <mat-sidenav
      (closedStart)="onSidenavClosed()"
      [disableClose]="!!(sidenavDisableClose$ | async)"
      [fixedInViewport]="!!(sidenavFixedInViewport$ | async)"
      [mode]="(sidenavMode$ | async) ?? 'side'"
      [opened]="!!(sidenavOpen$ | async)">
      <app-sidenav [collapsed]="!!(sidenavCollapsed$ | async)"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav (closedStart)="onQuickpanelClosed()"
                 [opened]="!!(quickpanelOpen$ | async)"
                 class="app-layout-quickpanel"
                 mode="over"
                 position="end">
      <app-quickpanel></app-quickpanel>
    </mat-sidenav>

    <mat-sidenav-content class="app-layout-sidenav-content">
      <app-toolbar [class.dark]="config.layout === 'vertical'" class="app-toolbar"></app-toolbar>

      <main class="app-layout-content">
        <router-outlet></router-outlet>
      </main>

      <app-footer *ngIf="config.footer.visible" class="app-footer"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-config-panel-toggle
    (openConfig)="configpanel.open()"></app-config-panel-toggle>

  <!-- CONFIGPANEL -->
  <app-sidebar
    #configpanel
    [invisibleBackdrop]="true"
    [opened]="!!(configPanelOpen$ | async)"
    position="right">
    <app-config-panel></app-config-panel>
  </app-sidebar>
  <!-- END CONFIGPANEL -->
</app-base-layout>
