<div
  *ngIf="config$ | async as config"
  [class.app-layout-boxed]="config.boxed"
  [class.app-layout-footer-enabled]="isFooterVisible$ | async"
  [class.app-layout-footer-fixed]="config.footer.fixed && (isFooterVisible$ | async)"
  [class.app-layout-horizontal]="config.layout === 'horizontal'"
  [class.app-layout-scroll-disabled]="scrollDisabled$ | async"
  [class.app-layout-search-overlay-open]="searchOpen$ | async"
  [class.app-layout-sidenav-collapsed]="sidenavCollapsed$ | async"
  [class.app-layout-toolbar-fixed]="config.toolbar.fixed"
  [class.app-layout-vertical]="config.layout === 'vertical'"
  class="app-base-layout-container">
  <ng-content></ng-content>
</div>
